/* ........................................................................................ */
.loader {
  margin: auto;
  margin-top: 5%;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid #ff7a59;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 720px) {
  .loader {
    margin-top: 50%;
  }
}
