/* /* * {
  margin: 0;
  padding: 0;
} */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400&display=swap");
:root {
  --first-color: rgb(14, 97, 213);
  --first-color-alt: rgb(140, 207, 255);
  --white-color: #ddfcff;
  /* -- */
}
.my-add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-form {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background: var(--first-color);
  background: radial-gradient(
    circle,
    var(--first-color-alt) 0%,
    var(--first-color-alt) 54%,
    var(--first-color-alt) 100%
  );
  box-shadow: 10px 10px 20px black;
  transition: all 0.5ms;
}

.record-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: cursive;
  color: var(--first-color);
}
.MyForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  transition: all 0.5s;
}
@media (max-width: 520px) {
  .MyForm {
    width: auto;
  }
}
@media (max-width: 300px) {
  .MyForm {
    width: 120px;
  }
}
.MyForm label {
  color: var(--first-color);
  text-shadow: 1px 1px rgb(103, 151, 186);
  font-family: "Times New Roman", Times, serif;

  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.MyForm input {
  font-size: 18px;
  color: rgb(57, 7, 132);
  background-color: transparent;
  border: 2px dotted var(--first-color);
  border-top: none;
  cursor: pointer;
}
.MyForm input:focus {
  outline-width: 0.2rem;
  outline-color: var(--first-color);
}

.formik-error {
  color: red;

  font-family: Arial, Helvetica, sans-serif;
}
.formik-error::before {
  content: "*";
}
#date,
#time {
  color: rgb(57, 7, 132);
}
.submit-button {
  margin: 10px;
}
.my-search {
  padding-top: 30px;
  /* text-transform: uppercase; */
  font-family: "Unbounded", cursive;
}
.food {
  color: blue;
}
.place {
  color: rgb(166, 0, 255);
}
.month {
  color: rgb(255, 0, 255);
}
